<div class="container-fluid"
style="background-image: url(../assets/bg.jpg);background-repeat: no-repeat;background-size: cover; background-color: blueviolet;">
        <div class="cover-container" >
         <fa-icon class="icon" [icon]="faarrowleft" [routerLink]="['/home']" routerLinkActive="router-link-active" style="font-size: 4em;color:white;"></fa-icon>
         <img src="./assets/profile.jpg" class="rounded-circle center" alt="Cinque Terre" width="150" height="136">
         <h1 class="text-center">RESUME</h1>
        </div>
        <div class="container">
           <table class="table table-hover mx-auto w-auto">
               <tr>
                   <th>Name:</th>
                   <td>Uma Mamahesh</td>
            </tr>
            <tr>
                    <th>Phone:</th>
                    <td>9505068860</td>
             </tr> 
             <tr>
                    <th>Email:</th>
                    <td>sarakanamumamahesh@gmail.com</td>
             </tr>
           </table>
        </div>
        
                <div class="text-center">
                    <legend>Career Objective:</legend>
                    <p>To secure a challenging position where I can effectively contribute my skills, and innovative ideas to gain knowledge in the work oriented environment.</p>
                </div>
                <div style="text-align: center;" class="container container-fluid">
                    <legend  >Education:</legend>
                    <table >
                        <tr class="text-center"><fa-icon [icon]="faarrowCright" class="icon "></fa-icon> Master of Computer Application ,KGRL PG COLLEGE, 6.97 CGPA ,(2018)</tr>
                        <tr><fa-icon [icon]="faarrowCright" class="icon"></fa-icon> Bachelor of Science, M.E.CS , KGRL, Bhimavaram, 7.21 CGPA.</tr>
                        <tr><fa-icon [icon]="faarrowCright" class="icon"></fa-icon> Board of Intermediate Education (10+2) ,KGRL jr College.</tr>
                        <tr><fa-icon [icon]="faarrowCright" class="icon"></fa-icon> Secondary School Certificate , Z.P.H School, Mogallu.</tr>
                    </table>
                </div>
                <div style="text-align: center;" class="container container-fluid">
                    <legend>Technical Skills Summary:</legend>
                   <table>
                       <tr>
                        <fa-icon [icon]="faarrowCright" class="icon"></fa-icon> Good Knowledge in Angular,TypeScript and Java
                    </tr > 
                    <tr>
                        <fa-icon [icon]="faarrowCright" class="icon"></fa-icon> Knowledge on windows, Linux Commands and Github.
                    </tr>
                    <tr>
                        <fa-icon [icon]="faarrowCright" class="icon"></fa-icon> Having good interactions with Atom,Visual Studio Code.
                    </tr>
                    <tr>
                        <fa-icon [icon]="faarrowCright" class="icon"></fa-icon> Good interpersonal skills, willing to take challenges and more responsibilities.
                    </tr>
                    <tr>
                        <fa-icon [icon]="faarrowCright" class="icon"></fa-icon> Ability to learn new technologies with minimal time period.
                    </tr>
                   </table> 
                </div>
                <div style="text-align: center;" class="container container-fluid">
                    <legend class="text-center">Strength:</legend>
                    <table >
                        <tr><fa-icon [icon]="faarrowCright" ></fa-icon> Able to work in a team</tr >
                        <tr><fa-icon [icon]="faarrowCright" ></fa-icon> Various Operating System Intraction</tr >
                        <tr><fa-icon [icon]="faarrowCright" ></fa-icon> Active learning and critical thinking</tr >
                    </table>
                </div>

        
                        <div class="container text-center ">
                                <legend>Personal Details</legend>
                                <table  class="table ">
                                    <tr >
                                            <th>Name:</th>
                                            <td>Uma Mahesh</td>
                                    </tr>
                                    
                                    <tr>
                                        <th> Father Name:</th>
                                        <td>Venkata Sthyanarayana</td>
                                    </tr>
                                    
                                    <tr>
                                        <th>Gender	:</th>
                                        <td> Male</td>
                                    </tr>
                                    <tr>
                            <th> Date of Birth	:</th>
                            <td>18-07-1993</td>
                                    </tr>
                                    <tr>
                                        <th>
                                        Contact Address:
                                        </th>
                                        <td>
                                        <table style="font-size:1em">
                                        <tr >Lakshmi Narayana Puram,</tr >
                                        <tr > Attili(mandal),West Godavari,</tr >
                                       <tr >Andhra Pradesh,PIN:534209.</tr >
                                 </table>
                             </td>
                         </tr>
                     </table>
                </div>
    </div>