<form action="resume" class="forms">
  
      <label for="personalinfo">Personanl_Info</label>
      <div class="persnoaldata">
      <label for="name" >Name</label>
      <input type="text" #name>
      <label for="name">Father_Name</label>
      <input type="text">
      <label for="name">Mobile_No</label>
      <input type="text">
      <label for="name">Email_Id</label>
      <input type="text">
  <button type="submit"  onclick="submit(name)" class="btn-primary">SUBMIT</button>
      </div>
</form>
