<body class="text-center" style="background-color: aqua;">
    <div class="cover-container d-flex w-100 h-100 h3-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
        <img src="./assets/profile.jpg" class="rounded-circle" alt="Cinque Terre" width="150" height="136"> 
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home" routerLinkActive="router-link-active" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/resume">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/mywork']" routerLinkActive="router-link-active" >Mywork</a>
          </li>
        </ul>
    </div>
  </header>
<main role="main" class="inner cover">
    <h1 class="cover-heading">Hey There!</h1>
    <h2>I'm UmaMahesh</h2>
   <h3 style="color: rgb(238, 241, 183);">this is my github page look around for more info</h3>
  </main>
</div>
</body>
